<html>
<head>
	<title>Node.js + Express.js</title>
</head>
<body>
    <h1>Hello, Node.js + Express.js</h1>
    <table>
        <tr>
            <th>no</th>
            <th>code</th>
            <th>nama</th>
            <th>instansi</th>
            <th>telepon</th>
            <th>email</th>
        </tr>
    </table>

    
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>