doctype html
html
   head
        title Judges
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        
   body(style='margin:0; padding:0')
        p.greetings#peopleHello Hello From Pug Templating Engine!
        div.table-responsive
            button.btn.btn-primary Tambah Data
            br
            br
            table.table-hover#tabel(style='width:100%', border='1')
                tr
                    th no
                    th code
                    th nama
                    th instansi
                    th telepon
                    th email
                each elem in json
                    tr
                        //- td
                        //-     p= elem.no
                        //- td 
                        //-     p= elem.code
                        
                        td 
                            p= elem.instansi
                        td 
                            p= elem.telp
                        td 
                            p= elem.email

        br
        button.btn.btn-success button berhasil
